.singleEventHolder {
  max-width: 300px;
  min-width: 260px;
  max-height: 360px;
  min-height: 260px;
  width: 20vw;
  height: 25vw;
  position: relative;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.eventSlide {
  max-width: 300px;
  min-width: 260px;
  max-height: 300px;
  min-height: 260px;
  width: 20vw;
  height: 20vw;
}

.eventImageSlide {
  background-size: cover;
  max-width: 300px;
  min-width: 260px;
  max-height: 300px;
  min-height: 260px;
  width: 20vw;
  height: 20vw;
  border-radius: 20px;
}

.each-slideshow-indicator {
  position: absolute;
  top: -40px;
  left: -20px;
}

.react-slideshow-container+ul.indicators .each-slideshow-indicator:before {
  background: white;
}

.react-slideshow-container .default-nav {
  width: 20px;
  height: 20px;
}

.eventInfo {
  position: absolute;
  bottom: 0px;
  /* margin-top: 120px; */
  padding-top: 120px;
  color: black;
}

.eventInfoTopRowBrowse {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow-x: auto;
}

.eventTypeBrowse {
  margin: 0;
  color: rgb(113,113,113);
  font-weight: 200;
  font-size: 14px;
}

.eventName {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.eventInfo div {
  display: flex;
  justify-content: space-between;
  max-width: 290px;
  min-width: 240px;
  width: 19vw;
  height: fit-content;

}

.eventStats p {
  margin: 0;
  color: rgb(113,113,113);
  font-weight: 300;
}
