.container-single {
  margin-left: 25rem;
  margin-right: 25rem;
  margin-top: 10rem;
}
/* .event-images-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 400px;
  box-sizing: border-box;
  padding: 5px;
  gap: 5px;
} */

/* .event-images-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.event-images-first {
  grid-column: span 2;
  grid-row: span 2;
} */

.event-images-container {
  width: fit-content;
  margin: 0 auto;
  display: flex;
}

.mainEventImage {
  height: 530px;
  width: 520px;
  background-size: cover;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  background-color: black;
}

.mainEventImage:hover,
.smallEventImage:hover {
  filter: brightness(80%);
  transition: all 0.35s ease;
  cursor: pointer;
}

.smallerEventImageContainer {
  display: flex;
  flex-direction: column;
}

.smallEventImage {
  width: 260px;
  height: 260px;
  background-size: cover;
  margin-left: 10px;
}

#firstSmallImage {
  margin-bottom: 10px;
  border-top-right-radius: 13px;
}

#secondSmallImage {
  border-bottom-right-radius: 13px;
}

.total-review {

}

.event-info-container {
  /* display: flex; */
  flex-direction: row;
}

.single-events-container {
  /* display: flex; */
}

.reviews-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  border: 1px solid red;
}

.review-info {
  flex: 50%;
}

.review-user-pic {
  height: 50px;
  width: 50px;
  background-color: grey;
  border-radius: 25px;
}

.total-review {
  font-size: 19px;
}

.single-events-container {
  font-size: 18px;
}

.event-info-container {
  padding: 15px;
  margin: 15px;
}

.event-type {
  margin-right: 100px;
  margin-bottom: 15px;
}

.host-tag {
  margin-bottom: 15px;
}
