/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

/* body {
  margin: 0;

  background-color: #fbf8f1;
  position: relative;
  min-height: 100vh;
  padding-bottom: 10rem;
} */


body {
  margin: 0;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}


