.profileButtonAndDropDown {
  position: relative;
}

.profileButton {
  width: 78px;
  height: 40px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 21px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.25s 0s;
}

.profileButton:hover {
  box-shadow: -1px 1px 3px rgb(173, 173, 173), 1px 1px 3px rgb(173, 173, 173);
}

.threeLines {
  display: flex;
  flex-direction: column;
  height: 12px;
  justify-content: space-between;
}

.threeLines > div {
  height: 2px;
  background-color: black;
  width: 14px;
}

.profileButtonUserIcon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgb(113, 113, 113);
  background-size: cover;
  background-position: center;
  border: 1px solid rgb(221, 221, 221);
}

.noLoggedInUser {
  font-size: 50px;
  border-radius: 50%;
  color: rgb(113, 113, 113);
}

.profileDropDown {
  position: absolute;
  background-color: white;
  width: 242px;
  height: fit-content;
  box-sizing: border-box;
  box-shadow: -1px 1px 3px rgb(214, 214, 214), 1px 1px 3px rgb(214, 214, 214);
  border-radius: 10px;
  right: 0;
  top: 70px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 9999;
}

.loggedInProfileDropDown > *:first-child div,
.loggedOutProfileDropDown > *:first-child {
  margin-top: 8px;
}

.loggedInProfileDropDown > *:last-child,
.loggedOutProfileDropDown > *:last-child {
  margin-bottom: 8px;
}

.loggedInProfileDropDown a div,
.loggedOutProfileDropDown div {
  padding: 8px;
  padding-left: 12px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.loggedInProfileDropDown > .logOutButton:hover {
  background-color: rgb(244, 244, 244);
}

.loggedInProfileDropDown > a:hover div,
.loggedOutProfileDropDown > div:hover {
  background-color: rgb(244, 244, 244);
}

.dropDownLine {
  height: 1px;
  width: 242px;
  background-color: rgb(224, 224, 224);
  margin: 8px 0;
}

.logOutButton {
  padding: 8px;
  padding-left: 12px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.profileDropDownLinks {
  color: black;
  font-size: 14px;
}
