.review-container {
  margin-top: 40px;
  border-top: 1px solid lightgrey;
  width: 90%;
  margin: 0 auto;
}

.addAReview {
  margin-top: 40px;
  font-size: 24px;
}

.addRatingCategory {
  align-items: center;

}

.commentForm {
  margin-top: 20px;
}

.commentHolder {
  display: flex;
}

.commentForm label {
  margin-right: 35px;
  font-size: 20px;
}

.commentForm textarea {
  flex-grow: 1;
  height: 120px;
  font-size: 16px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  padding: 10px;

  outline: none;
}

.commentForm textarea:focus {
  border: 1px solid #393e46;
}

.reviewButtonContainer {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: flex-end;
}

.reviewButtonContainer button {
  text-align: center;
  margin-top: 20px;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  font-size: 16px;
  color: #222222;
  transition: all 0.25s 0s;
  cursor: pointer;
  background-color: white;
}

.reviewButtonContainer button:hover {
  background-color: #393e46;
  color: white;
}

.alreadyAdded {
  font-size: 20px;
}

.addReviewError {
  padding: 12px;
  border-radius: 0.5rem;
  width: fit-content;
  font-size: 18px;
  color: white;
  background-color: rgb(200, 55, 25);
}

.emptySpace {
  width: 40px;
}

.singleAvgRating {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 320px;
}

.review-row1,
.review-row2 {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}

.review-row1 {
  margin-bottom: 20px;
}

.rating-container {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.reviewCategory {
  color: #222222;
  font-size: 20px;
  /* margin-right: 30px; */
}

.reviews-header {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.reviews-header div {
  font-size: 25px;
  margin-right: 10px;
}
.reviews-header span {
  font-size: 25px;
  margin-right: 10px;
}

.reviews-star {
  font-size: 17px;
  color: rgb(255, 0, 47);
}

#reviews-length {
  font-size: 20px;
}

.rate-bar {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.max-bar {
  width: 120px;
  height: 4px;
  background-color: lightgrey;
  border-radius: 15px;
}

.rev-bar {
  height: 0.22rem;
  background-color: rgb(255, 0, 47);
}

.reviewsContainer {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid lightgrey;
  scroll-behavior: smooth;
  z-index: 1;
}

.avgRating {
  font-size: 15px;
  color: #222222;
}

.allReviews {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.addReviewContainer {
  border-top: 1px solid lightgrey;
  margin-top: 40px;
}
