.loginModal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: 'Questrial', sans-serif; */
  z-index: 9999;
}

.loginFormContainer {
  background-color: white;
  border-radius: 15px;
  width: fit-content;
  font-family: inherit;
  z-index: 9999;
}

.loginFormContainer h2 {
  margin: 10px 0 0 10px;
}

.topRowForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding: 15px 35px;
}

.xToClose {
  transition: all 0.2s ease-in-out;
  width: fit-content;
}

.xToClose:hover {
  color: rgb(185, 185, 185);
  cursor: pointer;
}

.loginFormContainer h2 {
  font-family: "Roboto", sans-serif;
  padding-left: 15px;
}

#signUpForm {
  padding: 15px;
}

.formField {
  position: relative;
}

.formField label {
  position: absolute;
  left: 31px;
  top: 24px;
  font-size: 20px;
  font-weight: lighter;
  color: rgb(113, 113, 113);
  transition: all 0.2s ease-in-out;
}

.formField input {
  box-sizing: border-box;
  width: 567px;
  height: 61px;
  border-radius: 15px;
  margin: 6px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 24px;
  font-size: 20px;
  color: rgb(113, 113, 113);
  outline: none;
  border: 1px solid rgb(182, 182, 182);
}

.formField .borderError {
  border: 1px solid rgb(192, 53, 22);
  color: rgb(192, 53, 22);
}

.formField .borderError + label {
  color: rgb(192, 53, 22);
}

.formField input:focus + label {
  top: 13px;
  font-size: 13px;
}

#passwordSet {
  top: 13px;
  font-size: 13px;
}

#emailSet {
  top: 13px;
  font-size: 13px;
}

.loginButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginError {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 5px;
}

.loginError div {
  background-color: rgb(192, 53, 22);
  color: white;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  text-align: center;
  margin: 0 5px 0 15px;
}

.loginError span {
  color: rgb(192, 53, 22);
}

.loginButtons button {
  width: 567px;
  height: 52px;
  margin: 5px;
  background-color: rgb(220, 17, 99);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 15px;
  transition: all 0.25s ease-in-out;
}

.loginButtons button:hover {
  background-color: rgb(175, 13, 78);
}

.loginButtons > button:first-child {
  margin-top: 10px;
}

.loginButtons > button:last-child {
  margin-bottom: 25px;
}
