.signup {
  display: grid;
  place-items: center;
  /* height: 100vh; */
  /* background-color: black; */
}

.signup p {
  display: grid;
  place-items: center;
}

.signup > img {
  width: 20%;
}

.signup label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: bold;
}

.signup input {
  padding: 5px 20px;
  width: 300px;
  height: 25px;
  /* font-weight: 400;
    line-height: 24px; */
  margin-bottom: 10px;
}

.signup-btns {
  display: grid;
  place-items: center;
}

.signup-signup-btn {
  background-color: #393e46;
  padding: 15px 30px;
  border-radius: 99px;
  width: 120px;
  border: none;
  font-weight: bold;
  font-family: "Helvetica Neue";
}
