@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");

/* .nav-container {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #222831;
  color: blueviolet;
} */

/* .nav-contents {
  display: flex;
  font-family: "Bebas Neue", cursive;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  font-size: 21px;
  width: 95%;
} */

.nav-link {
  text-decoration: none;
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 21px;
}

#nav-logo {
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  font-size: 36px;
}

/* .nav-signup {
  margin-left: 20px;
  text-decoration: none;
  color: blueviolet;
} */

header {
  position: sticky;
  top: 0;
  z-index: 11;
  transition: all 0.5s 0s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  /* height: 100px; */
  box-sizing: border-box;
  background-color: #393e46;
  z-index: 11;
  box-shadow: 0 4px 4px -4px rgb(211, 211, 211);
  margin-bottom: 25px;
  color: white;
}
