.container-profile {
  display: flex;
  flex: flex;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 0;
  margin-left: -5em;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-top: 45px;
  padding-right: 25px;
  color: white;
  background-color: #222831;
  list-style-type: none;
  text-decoration: none;
}

.profile-dropdown > li {
  text-decoration: none;

}

.nav-btn {
  position: relative;
  background-color: black;
  size: 120px;
  color: white;
  border: none;
  cursor: pointer;
}

.nav-user-pic {
  height: 2.5rem;
  width: 2.5rem;
}





.footer-icon {
  color: white;
  text-shadow: 0 0 1px #000;
  font-size: 30px;
  transition: all 0.2s 0s;
}
.footer-icon:hover {
  color: rgb(204, 204, 204);
}

.footer-container {
  display: flex;
  justify-content: flex-end;
}

.footer-container a {
  margin: 0 20px;
}
